
    <div class="header">
    <img src="factory.svg" style="width: 5vw; margin-bottom:0vw;">
      <p>Fantasy Football Stat Factory</p>
        <div class="headerButtons">
          <button class="btn_header">Home</button>
          <button class="btn_header">About</button>
          <button class="btn_header" style="background-color:lightgreen;"><a href="https://paypal.me/benmedcalf?locale.x=en_US" style="color:black">Donate</a></button>
          <button class="btn_header">Contact</button>
      </div>
    </div>
