<head>
  <script src="/js/homepage.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <!--
        The viewport meta element lets you control the 
        the width and scale of the viewport on mobile browsers. 
        Since you're building a responsive website, 
        you want the width to be equal to the device's native width. 
        Add this into your page's <head>.
    -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<html>

<body>
  {{>header}}
  <div class="search_wrapper">
    <form action="results">
        <h2>I want to see</h2>
      <div class="checkbox_wrapper">
        <div>
          <input type="checkbox" id="rushingYards_checkbox" name="rushYds" value=true>
          <label for="rushingYards_checkbox">Rush Yards</label>
        </div>
        <div>
          <input type="checkbox" id="receivingYards_checkbox" name="recYds" value=true>
          <label for="receivingYards_checkbox">Rec Yards</label>
        </div>
        <div>
          <input type="checkbox" id="rushingTouchdowns_checkbox" name="rushTDs" value=true>
          <label for="rushingTouchdowns_checkbox">Rush Touchdowns</label>
        </div>
        <div>
          <input type="checkbox" id="receivingTouchdowns_checkbox" name="recTDs" value=true>
          <label for="receivingTouchdowns_checkbox">Rec Touchdowns</label>
        </div>
      </div>
        <h2>For players who</h2>
      <div class="stat_chooser_wrapper" id="stat_chooser_wrapper">
        <!-- stat selector for ranges -->
        <label for "statistics"></label>
        <select id="statistics" name="statistics">
          <optgroup label="Rushing">
            <option value="rushingYards">Rushing Yards</option>
            <option value="rushingAttempts">Rush Attempts</option>
            <option value="yardsPerRushAttempt">Yards per carry</option>
            <option value="rushingTouchdowns">Rushing TDs</option>
            <option value="longRushing">Longest Rush</option>
          <optgroup label="Receiving">
            <option value="receivingYards">Receiving Yards</option>
            <option value="receptions">Receptions</option>
            <option value="receivingTargets">Receiving Targets</option>
            <option value="receivingTouchdowns">Receiving TDs</option>
            <option value="yardsPerReception">Yards Per Rec</option>
            <option value="longReception">Longest Reception</option>
          <optgroup label="Passing">
            <option value="PassingYards">Passing Yards</option>
            <option value="PassingTDs">Passing TDs</option>
            <option value="CompletionPercentage">Completion Percentage</option>
            <option value="QBR">QBR</option>
          <optgroup label="Total">
            <option value="TotalYards">Total Yards</option>
            <option value="TotalTouchdowns">Total Touchdowns</option>
        </select>

        <select id="operator" name="operator">
          <option value=">">Greater Than</option>
          <option value="<">Less Than</option>
          <option value="=">Equal To</option>
        </select>

        <input type="float" name="quantifier">

        <select id="season" name="season">
          <option value="2019">2019</option>
          <option value="2018">2018</option>
          <option value="2017">2017</option>
        </select>

        <button type="button" onclick="addStatToQuery()">+</button>
      </div>
      </div>
    </div>

      <!-- player info selector -->

      <h2>Position</h2>
      <div class="checkbox_wrapper">
        <div>
          <input type="checkbox" id="rb_checkbox" name="rb" value=true>
          <label for="rb_checkbox">RB</label>
        </div>
        <div>
          <input type="checkbox" id="wr_checkbox" name="wr" value=true>
          <label for="wr_checkbox">WR</label>
        </div>
        <div>
            <input type="checkbox" id="qb_checkbox" name="tqb" value=true>
          <label for="qb_checkbox">QB</label>
        </div>
      </div>
      <br>
      <button id="search_submit" type="submit">Search</button>
    </form>
  </div>
</body>

</html>
