<head>
  <script src="/js/homepage.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <!--
        The viewport meta element lets you control the 
        the width and scale of the viewport on mobile browsers. 
        Since you're building a responsive website, 
        you want the width to be equal to the device's native width. 
        Add this into your page's <head>.
    -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<html>

<body>
  {{>header}}
  <h2>Raw search</h2>
  <form action="results">
    <input type="text" name="dbquery" action="/results">
    <input type="submit">
  </form>
  <div class="search_wrapper">
    <form action="results">
      <div class="stat_chooser_wrapper" id="stat_chooser_wrapper">
        <h2>Stats</h2>
        <!-- stat selector for ranges -->
        <label for "statistics"></label>
        <select id="statistics" name="statistics">
          <optgroup label="Rushing">
            <option value="RushYards">Rushing Yards</option>
            <option value="RushAttempts">Rush Attempts</option>
            <option value="YPC">Yards per carry</option>
            <option value="RushTDs">Rushing TDs</option>
          <optgroup label="Receiving">
            <option value="ReceivingYards">Receiving Yards</option>
            <option value="Receptions">Receptions</option>
            <option value="ReceivingTargets">Receiving Targets</option>
            <option value="ReceivingTDs">Receiving TDs</option>
          <optgroup label="Passing">
            <option value="PassingYards">Passing Yards</option>
            <option value="PassingTDs">Passing TDs</option>
            <option value="CompletionPercentage">Completion Percentage</option>
            <option value="QBR">QBR</option>
          <optgroup label="Total">
            <option value="TotalYards">Total Yards</option>
            <option value="TotalTouchdowns">Total Touchdowns</option>
        </select>

        <select id="operator" name="operator">
          <option value="GreaterThan">Greater Than</option>
          <option value="LessThan">Less Than</option>
          <option value="EqualTo">Equal To</option>
        </select>

        <input type="float" name="quantifier">

        <button type ="button" onclick="addStatToQuery()">+</>
      </div>

      <!-- player info selector -->

      <h2>Position</h2>
      <div class="positions_wrapper">
        <input type="checkbox" id="rb_checkbox" name="rb" value=true>
        <label for="rb_checkbox">RB</label>
        <input type="checkbox" id="wr_checkbox" name="wr" value=true>
        <label for="wr_checkbox">WR</label>
        <input type="checkbox" id="qb_checkbox" name="qb" value=true>
        <label for="qb_checkbox">QB</label>
      </div>
      <br>
      <button id="search_submit" type="submit">Search</button>
    </form>
  </div>
</body>
</html>

