<head>
  <link rel="stylesheet" href="/css/styles.css">
  <!--Load PureCSS-->

  <link rel="stylesheet" />
  <!--
        The viewport meta element lets you control the 
        the width and scale of the viewport on mobile browsers. 
        Since you're building a responsive website, 
        you want the width to be equal to the device's native width. 
        Add this into your page's <head>.
    -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<html>
  <body>
    <h1>NFL Stats Graph Database v1</h1>
    <div class="header">
      <button class="btn_header">Home</button>
      <button class="btn_header">About</button>
      <button class="btn_header">Contact</button>
    </div>
    <form action="results">
      <textarea
        id="search_input"
        rows="50"
        columns="50"
        name="dbquery"
      >Put your query here</textarea>
      <button id="search_submit" type="submit">Search</button>
    </form>
  </body>
</html>
