<header>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/styles.css">
</header>

<div class="results">
  <div id="results-header">
    <h1>Results</h1>
    <button id="data-viz-toggle">
      <img id="piechart-svg" src="pie-chart-svgrepo-com.svg" />
    </button>
  </div>
  <table>

    {{!-- make the header --}}
    <tr>
      {{#each header}}
      <td class="table-header">{{this}}</td>
      {{/each}}
    </tr>

    {{#each results}}
    <tr>
      {{#each this}}
      <td>{{this}}</td>
      {{/each}}
    </tr>
    {{/each}}
  </table>
</div>