body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
}
.results {
  text-align: left;
  display: inline-block;
  width: 100%;
}

.results button {margin: .5rem;}

.table-wrapper {
  overflow-x:auto;
}

td:first-child {
  position: sticky;
  left: 0;  
  background-color: #ddd;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 2px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

.table-header {
  border:2px solid #000000
}

.header {
position: absolute;
bottom:0;
}

.header button {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
  display: inline-block;
  border-radius: 0.25rem;
}

.header button:hover {
  background-color: black;
  color: white;
  border-radius: 0.25rem;
}

#search_submit{
  display: inline;
}

#results-header {
  display: inline-block;
  position: relative;
  width: 20rem;
  height: fit-content;
  margin-bottom: 0px;
}
#search_input {
  margin: 0px; 
  height: 387px; 
  width: 456px;
}

#data-viz-toggle {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  background: #ffffff;
  width: 3.5rem;
}

#piechart-svg {
  width: 2.5rem;
  height: auto;
}

#results-header-txt {
  margin-bottom: 0px;
}